.canvas {
    display: inline-block;
    cursor: cell;

    .row {
        display: flex;
    }

    // .row-0 {
    //     margin-bottom: 8px;
    // }

    // .row-2 {
    //     margin-left: 14px;
    // }

    // .row-3 {
    //     margin-left: 21px;
    // }

    // .row-4 {
    //     margin-left: 7px;
    // }
}