.toolbar {
    display: flex;
    align-items: center;
    background-color: $color-mid-grey;
    border-radius: 2px;
    padding: 4px 0px 4px 4px;

    &-item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 35px;
        background-color: $color-dark-grey;
        border-radius: 2px;
        margin-right: 4px;
        fill: $color-mid-grey;
        position: relative;

        svg {
            height: 24px;
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;

            &__available {
                fill: $color-white-grey;
            }

            &__selected {
                fill: $color-razer-green;
            }
        }

        .tooltip {
            z-index: 100;
            visibility: hidden;
            position: absolute;
            top: -25px;
            background: $color-white-grey;
            border: 3px solid $color-white-grey;
            border-radius: 2px;
            font-size: small;
            text-align: center;
            opacity: 0;
            transition: 0.5s opacity, visibility 0s;
        }

        &:hover {
            .tooltip {
                z-index: 100;
                position: absolute;
                top: -25px;
                background: $color-white-grey;
                border: 3px solid $color-white-grey;
                border-radius: 2px;
                font-size: small;
                text-align: center;
                opacity: 1;
                visibility: visible;
                transition-delay:1s;
            }
        }
    }

    &-spacer {
        background: $color-dark-grey;
        margin: 0px 8px 0px 4px;
        height: 35px;
        width: 2px;
    }

    &-slider {
        background: $color-dark-grey;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        height: 35px;
        justify-content: center;
        margin-right: 4px;
    }

    &-slider-value {
        color: #FFFFFF;
        text-align: center;
        font-size: 0.8em;
        margin-bottom: 3px;
    }

    &-slider-input {
        height: 6px;
        border-radius: 3px;
        -webkit-appearance: none;
        background-color: #3A3A3D;
    }
    
    
    &-slider-input:focus {
        outline: none;
    }

    &-slider-input::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 10px;
        width: 10px;
        border-radius: 5px;
        background: #FFF;
    }

}