@import './variables';
@import './toolbar';
@import './animate';

body {
    background-color: $color-dark-grey;
    padding: 10px;
    -webkit-user-select: none;
    font-family: sans-serif;
}