@import './variables';
@import './toolbar';
@import './animate';
@import './topBar';
@import './canvas';
@import './presetColorPicker';
@import './updateOverlay';

body, html, #app, .page {
    height: 100%;
}

body {
    background-color: $color-dark-grey;
    padding: 35px 12px 12px 12px;
    margin: 0;
    user-select: none;
    font-family: sans-serif;
    overflow: hidden;
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px;
}